<header>
    <a href="/home" style="background:none"style="float:right;"><img id="logo" src="/public/images/logo.png"></a>
    <i class="fa-solid fa-user fa-beat "style="color: white" id="login-pic"></i>
    <a href="/signin"style="float:right;">Signin</a>
    <a href="/signup"style="float:right;">Signup</a>
    <a href="/clientRegistration"style="float:right;">Client registration</a>
    <a href="/home/services"style="float:right;" >Our services</a>
    <a href="/home/aboutus"style="float:right;" >About us</a>
</header>