<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|outline|emboss|shadow-multiple|fire-animation" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" />
    <link rel="stylesheet" href="/public/assets/about.css" />
    <script src="https://kit.fontawesome.com/a4b935b8e6.js" crossorigin="anonymous"></script>
</head>
    <%- include('../partials/header') %>
    <body>
        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                    <div class="content">
                        <h3>Website To Build Your Dream Home</h3>
                      <br>  <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our Website Major Motto is to Help a person in a very unique way.
                            Our website consists of five major sections namely Land, House, 
                            Architecture,Construction, Interiors.
                            For better understanding of the five major
                            sections. Firstly, Land section where the land selling/buying could be done.The page takes inputs and display the best possible Lands and their full-fledged details such as Location,Area, Budget to buy the land according to their budget. And to sell the land same process will be followed. Next House where the house sellings and buying done in online it follows as same as Land. Now, Architecture where the customer can find architects and takes plans to build their dream home. Next,Constrction where the contractors take contract on some basis like budget, area, type.
                            Lastly,the Interiors where the built home can be designed into a beautiful one which will be designed by home-interior designers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       <br>
                <div class="features-section">
                  <h3>Key Features of Our Dream Home Website</h3>
                  <ul>
                 <br>   <li><i class="fa-solid fa-star fa-beat" style="color: #a3e52a;"></i>&nbsp;&nbsp;&nbsp;Buy and sell land and houses online</li>
                   <br> <li><i class="fa-solid fa-star fa-beat" style="color: #a3e52a;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Find and hire architects for your dream home plans</li>
                 <br>   <li><i class="fa-solid fa-star fa-beat" style="color: #a3e52a;">&nbsp;</i>&nbsp;Hire contractors for construction based on budget and area</li>
                 <br>   <li><i class="fa-solid fa-star fa-beat" style="color: #a3e52a;"></i>&nbsp;&nbsp;&nbsp;Design your home interiors with professional designers</li>
                <br>    <li><i class="fa-solid fa-star fa-beat" style="color: #a3e52a;"></i>&nbsp;&nbsp;&nbsp;User-friendly dashboard for easy navigation and management</li>
                 <br>   <li><i class="fa-solid fa-star fa-beat" style="color: #a3e52a;"></i>&nbsp;&nbsp;&nbsp;Secure user authentication and data protection</li>
                  </ul>
                </div>
<br><br><br><br>
                <section>
                    <h3>Meet Our Contributors</h3>
                    <div class="contributor-container">
                        
                      <div class="row1">
                        <div class="contributor">
                           
                          <img src="/public/images/BoyProfile.jpeg" alt="Contributor 1">
                          <p>SATISH-S20210010059</p>
                       <!--- <p><a href="mailto:john.doe@example.com">john.doe@example.com</a></p>-->
                        </div>
                        <div class="contributor">
                          <img src="/public/images/BoyProfile.jpeg" alt="Contributor 2">
                          <p>DHRUSHINA DATHA-S20210010225</p>
                        
                        </div>
                        <div class="contributor">
                          <img src="/public/images/BoyProfile.jpeg" alt="Contributor 3">
                          <p>SUMANTH-S20210010115</p>
                        
                        </div>
                      </div>
                      <div class="row2">
                        <div class="contributor">
                          <img src="/public/images/GirlProfile.jpeg" alt="Contributor 4">
                          <p>T.SANJANA-S20210010228</p>

                        </div>
                        <div class="contributor">
                          <img src="/public/images/GirlProfile.jpeg" alt="Contributor 5">
                          <p>M.MEGHANA-S20210010132</p>
                        </div>
                      </div>
                    </div>
                  </section>
        <style>
.features-section{
  text-align: center;
}
        </style>
</body>
    <%- include('../partials/footer') %>
</html>