<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="basicinfo.css">
</head>
<body>
<div class="sample">
<div class="container">
   <div>
      <h3>Basic Information</h3>
   </div>

   <div class="main">
      <div class="main1">I want to<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="rent" name="rent" value="rent">
      <label for="rent">Rent</label>
   </div>
   <div class="main3">
      <input type="radio" id="sell" name="rent" value="sell">
      <label for="sell">Sell</label>
   </div>
</div>
   </div>

    <div class="main">
      <div class="main1">I want to<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="residential" name="residential" value="residential">
      <label for="residential">Residential</label>
   </div>
   <div class="main3">
      <input type="radio" id="commercial" name="residential" value="commercial">
      <label for="commercial">Commercial</label>
   </div>
</div>
   </div>

    <div class="main">
      <div class="main1">Property Type<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="apartment" value="apartment" name="apartment">
      <label for="apartment">Apartment</label>
   </div>
   <div class="main3">
      <input type="radio" id="Independent" value="Independent" name="apartment">
      <label for="Independent">Independent House</label>
   </div>
   <div class="main3">
      <input type="radio" id="villa" value="villa" name="apartment">
      <label for="villa">Villa</label>
   </div>
   <div class="main3">
      <input type="radio" id="plot" value="plot" name="apartment">
      <label for="plot">Plot</label>
   </div>
   <div class="main3">
      <input type="radio" id="agriculture" value="agriculture" name="apartment">
      <label for="agriculture">Agriculture Land</label>
   </div>

</div>
   </div>

    <div class="main">
      <div class="main1">Construction Status<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="ready" value="ready"  name="ready">
      <label for="ready">Ready to Move</label>
   </div>
   <div class="main3">
      <input type="radio" id="under" value="under" name="ready">
      <label for="under">Under Construction</label>
   </div>
</div>
   </div>

    <div  class="main">
      <div class="main1">BHK<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="1b" value="1b" name="bhk">
      <label for="1b">1BHK</label>
   </div>
   <div class="main3">
      <input type="radio" id="2b" value="2b" name="bhk">
      <label for="2b">2BHK</label>
   </div>
   <div class="main3">
      <input type="radio" id="3b" value="3b" name="bhk">
      <label for="3b">3BHK</label>
   </div>
   <div class="main3">
      <input type="radio" id="4b" value="4b" name="bhk">
      <label for="4b">3+ BHK</label>
   </div>
</div>
   </div>

    <div class="main">
      <div class="main1">Bathroom<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="1" value="1" name="bath">
      <label for="1">1</label>
   </div>
   <div class="main3">
      <input type="radio" id="2" value="2" name="bath">
      <label for="2">2</label>
   </div>
   <div class="main3">
      <input type="radio" id="3" value="3" name="bath">
      <label for="3">3</label>
   </div>
   <div class="main3">
      <input type="radio" id="4" value="4" name="bath">
      <label for="4">3+</label>
   </div>
</div>  
</div> 

  <div class="main">
      <div class="main1">Balcony<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="11" value="11" name="bal">
      <label for="11">1</label>
   </div>
   <div class="main3">
      <input type="radio" id="22" value="22" name="bal">
      <label for="22">2</label>
   </div>
   <div class="main3">
      <input type="radio" id="33" value="33" name="bal">
      <label for="33">3</label>
   </div>
   <div class="main3">
      <input type="radio" id="44" value="44" name="bal">
      <label for="44">3+</label>
   </div>
</div>  
</div> 

  <div class="main">
      <div class="main1">Car-Parking<span class="imp">*</span></div>
<div class="main2">
   <div class="main3">
      <input type="radio" id="car1" value="car1" name="car">
      <label for="car1">1</label>
   </div>
   <div class="main3">
      <input type="radio" id="car2" value="car2" name="car">
      <label for="car2">2</label>
   </div>
   <div class="main3">
      <input type="radio" id="car3" value="car3" name="car">
      <label for="car3">2+</label>
   </div>

</div>  
</div> 
   </div>
      <div class="photo">
      <img class="p291"  src="basic1.png" alt="">
      </div>
   </div>

</body>
</html>