<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png" type="image/x-icon" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/public/assets/dashboard.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body{
            background-color: #acb3af;
            color:rgb(20, 19, 19);
            background-image: url(/pictures/change-password-bg.jpg);
            background-size: cover;
            background-position: center;
        }
        body{
            background-color: #acb3af;
            color:rgb(20, 19, 19);
            background-image: url(/public/images/change-password.jpg);
            background-size: cover;
        }

        .main{
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          width:500px;
          justify-content: space-between;
          background-color: rgba(255, 255, 255, 0.682);
          border-radius: 10px;
          margin-left: 30%;
          margin-top: 10%;
          height:300px;
          box-shadow: 1px 1px 5px gray;
        }

        table {
            width: 400px;
            border:none;
        }

        td, th {
            text-align: left;
            padding: 8px;
        }
        
        img{
          position: relative;
          width:300px;
          float:right;
        }

        .submit-button{
          width:200px;
          background-color: rgb(0, 191, 255);
          color:white;
          border:none;
          height:30px;
          font-size: 18px;
          border-radius: 5px;
          margin:25px;
          margin-left: 20%;
        }

        .submit-button:hover{
            background-color: darkblue;
            box-shadow: 1px 2px 5px gray;
        }
        .cp-form{
          display:flex;
          flex-direction: column;
          width:500px;
          margin-left: 20px;
        }

        .main1{
          display: flex;
          position:absolute;
          right:500px;
        }

        input{
            border:1px solid;
        }
    </style>
    <title>Dashboard/change_password</title> 
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <a href="/home"><img src="/public/images/logo.png" alt="logo"></a>
            </span>
            <div class="text logo-text">
                <span class="name"><%= client.name %></span>
                <span class="profession"><%= client.profession %></span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/client/updateProfile">
                        <i class='bx bx-home-alt icon' ></i>
                        <span class="text nav-text">Update Profile</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/client/approvedDeals">
                        <i class='bx bx-bar-chart-alt-2 icon' ></i>
                        <span class="text nav-text">Approved Deals</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/client/pendingDeals">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Pending Deals</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/client/changePassword">
                        <i class='bx bx-heart icon' ></i>
                        <span class="text nav-text">Change Password</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/client/logout">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">log out</span>
                </a>
            </li>
        </div>
    </div>
</nav>
<form>
    <div class="main">
      <div class="cp-form">
        <div class="main2">
          <h2 style="margin-left: 20%;margin-top: 20px;;">Confirm Password</h2>
        </div>
        <div class="main2">
          <table>
            <tr>
              <td>
                Previous Password :
              </td>
              <td>
                <input type="text" placeholder="Previous password" name="previous" id="previous" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8-15 characters" required>
              </td>
            </tr>
            <br>
            <tr>
              <td>
                New Password:
              </td>
              <td>
                <input type="password" placeholder="New password" name="new" id="new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8-15 characters" required>
              </td>
            </tr>
            <tr>
              <td>
                Confirm Password :
              </td>
              <td>
                <input type="text" placeholder="Confirm password" name="confirm" id="confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8-15 characters" required >
                <small id="confirmPassword-feedback" style="text-align:center"></small>
              </td>
            </tr>
          </table>
        </div>
        <div class="main2">
          <input type="hidden" name="client_id" value="<%= client._id %>">                <div>
            <button class="submit-button" type="submit" value="Change">
                Submit
            </button>
        </div>
        
      </div>
    </div>
</form>
    <script src="/public/JS/dashboard.js"></script>
    <script>
    function ShowPassword(id) 
    {
        var x = document.getElementById(id);
        if (x.type == "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }
    }
    </script>
    <script src="/public/JS/dashboard.js"></script>
</body>
</html>