<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseDescription</title>
</head>
<body>
    <div class="container">
        <div class="pic">
            <img src="/public/images/homepage/house/house1.jpg"style width="30%" height="30%">
            </div>
<div class="text">
    <ul>    <li> 2Beds </li><br>
            <li>1Bathroom</li><br>
            <li>Super Built-Up Area-7000sqft</li><br>
            <li>Project-NewHills</li><br>
            <li>Transaction Type-New Property</li><br>
            <li>Status-Ready to move</li><br>
            <li>Furnished Status-Unfurnished</li><br>
            <li>Car Parking-1 Covered</li><br></ul>
</div>
        <div class="text">
         <h2>Why buy in this project?</h2>
         <ul>  <li>Wide Landscaped Streets</li>
        <li>Earthquake Resistant</li>
        <li>Fire Fighting Arrangements</li>
        <li>15 mins Travel to GST Road</li>
        <li>20 mins Travel to Airport</li></ul>

</div>
        

<div class="text">
          <h2>More Details</h2>
          <ul><li>Price Breakup- 38 lac</li>
          <li>Address-Hyderabad</li>
          <li>Flooring-Vitrified</li>
          <li>Water Availability- 24 Hours Available</li>
          <li>Status of Electricity-No/Rare Powercut</li>
         </ul>


             </div>
             <div class="text">
        <h3>Description:</h3>
            <p>NAVIN'S HILL AVENUE - A wash of greenery and seven hills surround "Navin's Hillview Avenue", a cosy residential neighbourhood that is located on the Pallavaram - Thiruneermalai - Thirumudivakkam Main Road.</p>
        </div>
          <div class="text">
            
             <h2>Amenties</h2>
           <ul>  <li>Power Back Up</li>
             <li>Lift</li>
             <li>Rain Water</li>
             <li>Swimming Pool</li>
             <li>Gym</li>
             <li>Reserved Parking</li>
             <li>Water storage</li>
             <li>Waste Disposal</li>
             <li>Outdoor Tennis</li>
              </ul>
            </div>
        </div>

        <style>
            .text{
               
                box-shadow: 0px 0 20px 10px rgba(91, 58, 168, 0.3);
                 
            }
           .pic{
                width:250px;
                margin: 0 10px;
                box-shadow: 0 0 20px 2px rgba(91, 58, 168, 0.3);
                transition: 0.4s;
                margin-top: 3rem;
}
      .pic img{
                display:block;
                width: 100%;
                border-radius:5px;
                flex-direction: row;
   
}
    .pic:hover{
                transform:scale(1.3);
                z-index:2;
}


        </style> 
</body>
</html>