<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandDescription</title>
</head>
<body>
    <div class="container">
        <div class="pic">

   <img src="/public/images/homepage/land/land1.jpg"style width="30%" height="30%"></div><br>

<div class="text">
    <ul>    <li> Gated Colony </li><br>
            <li>North - East Phase</li><br>
            <li>Four floors allowed</li><br>
            <li>Plot Area - 10000 sqft</li><br>
            <li>No Of Open Sides-2</li><br>
            <li>Any Construction Done-Yes</li><br>
            <li>Boundary Wall-Yes</li><br>
            <li>Transaction Type-Resale</li><br></ul>
</div>

<div class="text">
          <h2>More Details</h2>
          <ul><li>Price Breakup- 20 lac | Rs-1,60,000 Approx.Registration Charges</li>
          <li>Booking Amount -Rs-50,000</li>
          <li>Address - Hyderabad-South,Telangana/li>
          <li>on road ECR Property</li>
          <li>Additional features - In a gated colony.Partial construction done with boundary walls</li>
          <li>Width Of road facing</li>
          <li>Floors  allowed for construction - 4 </li>
          <li>No of open sides - 2</li>
         </ul>


             </div>
             <div class="text">
        <h3>Description:</h3>
            <p>Integrated gated community dtcp approved plot with compound wall, Ready to build your dream home in the site, very good location, very close to the house and bus stop, well developed areas, non water flooting area, well connected tar road with compound wall, club house, swimming pool, restaurant, party hall, park and children play area.</p>


             </div>
         <div class="text">
          <h2>Nearby Locality</h2>
          <ul><li>Near to Highway</li>
           <li>20km to Airport</li>
          <li>Near to Educational institutions</li>
          <li> Nearby Shopping malls</li>
          <li>Hospitals within 3km radius</li>
          </ul>
          </div>
        </div>

        <style>
            .text{
               
                box-shadow: 0px 0 20px 10px rgba(91, 58, 168, 0.3);
                 
            }
           .pic{
                width:250px;
                margin: 0 10px;
                box-shadow: 0 0 20px 2px rgba(91, 58, 168, 0.3);
                transition: 0.4s;
                margin-top: 3rem;
}
      .pic img{
                display:block;
                width: 100%;
                border-radius:5px;
                flex-direction: row;
   
}
    .pic:hover{
                transform:scale(1.3);
                z-index:2;
}


        </style> 
</body>
</html>