<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png" type="image/x-icon" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/public/assets/dashboard.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body{
            background-color: #acb3af;
            color:rgb(20, 19, 19);
            background-image: url(/pictures/change-password-bg.jpg);
            background-size: cover;
            background-position: center;
        }
    </style>
    <title>Dashboard/change_password</title> 
</head>
<body>
    <%- include('../partials/admindashboard') %>
    <section class="home">
        <form id="myForm" action='/changepassword' method="post">
            <div class="change-password-form">
                <div class="heading">
                    <h3>
                        CHANGE PASSWORD
                    </h3>
                </div>
        
                <div class="items">
                    <div>
                        <p>
                            Previous Password :
                        </p>
                        
                    </div>
        
                    <div>
                        <input type="password" placeholder="Previous password" name="previous" id="previous" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8-15 characters" required>
                        <input type="checkbox" style="margin-left:-20px;" onclick="ShowPassword('previous')">
                    </div>
                </div>
        
                <div class="items">
                    <div>
                        <p>
                            New Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
                        </p>            
                    </div>
        
                    <div>
                        <input type="password" placeholder="New password" name="new" id="new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8-15 characters" required>
                        <input type="checkbox" style="margin-left:-20px;" onclick="ShowPassword('new')">
                    </div>
                </div>
        
                <div class="items">
                    <div>
                        <p>
                           Confirm Password :
                        </p>            
                    </div>
        
                    <div>
                        <input type="password" placeholder="Confirm password" name="confirm" id="confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8-15 characters" required >
                        <input type="checkbox" style="margin-left:-20px;" onclick="ShowPassword('confirm')">
                        <small id="confirmPassword-feedback" style="text-align:center"></small>
                    </div>
                </div>
        
                <div>
                    <button class="submit-button" type="submit" value="Change">
                        Submit
                    </button>
                </div>
                
            </div>
            </form>
    </section>
    <script src="/public/JS/dashboard.js"></script>
    <script>
        function ShowPassword(id) {
    var x = document.getElementById(id);
    if (x.type == "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
    </script>
    <script src="/public/JS/dashboard.js"></script>
</body>
</html>